# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Build files
/build
/dist

# Cache
.cache/
.eslintcache
.stylelintcache

# Coverage directory
/coverage

# Misc
*.pem
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify